<a href="https://colab.research.google.com/github/Mayerli05Pinargote/HOLAMUNDO/blob/main/practica_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EJERCICIO DE PANDAS

In [31]:
url='https://raw.githubusercontent.com/Sinchiguano/ai_googleColab/main/smallDataset/movies.csv'   #importa base de datos
# Use this line to load the dataset.
url='https://raw.githubusercontent.com/Sinchiguano/chicagoUniversity/main/cta_Ridership.csv'
import pandas as pd
data = pd.read_csv(url)
print (data.head(5))  #imprime los 5 primeros valores
print (data.shape) #da la cantidad de datos que tiene la bd

   station_id       stationname        date daytype  rides
0       41280    Jefferson Park  12/22/2017       W   6104
1       41000  Cermak-Chinatown  12/18/2017       W   3636
2       40280      Central-Lake  12/02/2017       A   1270
3       40140   Dempster-Skokie  12/19/2017       W   1759
4       40690          Dempster  12/03/2017       U    499
(1145586, 5)

In [32]:
print (data.tail(5))  #imprime los 5 ultimos valores

         station_id        stationname        date daytype  rides
1145581       41700  Washington/Wabash  12/27/2022       W   3991
1145582       41700  Washington/Wabash  12/28/2022       W   4100
1145583       41700  Washington/Wabash  12/29/2022       W   4741
1145584       41700  Washington/Wabash  12/30/2022       W   4664
1145585       41700  Washington/Wabash  12/31/2022       A   2774

informacion de base de datos [texto del v√≠nculo](https://)

In [33]:
data.info

<bound method DataFrame.info of          station_id        stationname        date daytype  rides
0             41280     Jefferson Park  12/22/2017       W   6104
1             41000   Cermak-Chinatown  12/18/2017       W   3636
2             40280       Central-Lake  12/02/2017       A   1270
3             40140    Dempster-Skokie  12/19/2017       W   1759
4             40690           Dempster  12/03/2017       U    499
...             ...                ...         ...     ...    ...
1145581       41700  Washington/Wabash  12/27/2022       W   3991
1145582       41700  Washington/Wabash  12/28/2022       W   4100
1145583       41700  Washington/Wabash  12/29/2022       W   4741
1145584       41700  Washington/Wabash  12/30/2022       W   4664
1145585       41700  Washington/Wabash  12/31/2022       A   2774

[1145586 rows x 5 columns]>

imprime caracteriaticas de las columnas

In [34]:
data.columns

Index(['station_id', 'stationname', 'date', 'daytype', 'rides'], dtype='object')

numero de indice

In [35]:
data.index

RangeIndex(start=0, stop=1145586, step=1)

si dice step=1 signifca que la cantidad dada es de 1 en uno
si dece step = 2 significa que va de dos en dos y si sucesivamente

informacion basica estadistica
descripcion de la bd

In [36]:
data.describe

<bound method NDFrame.describe of          station_id        stationname        date daytype  rides
0             41280     Jefferson Park  12/22/2017       W   6104
1             41000   Cermak-Chinatown  12/18/2017       W   3636
2             40280       Central-Lake  12/02/2017       A   1270
3             40140    Dempster-Skokie  12/19/2017       W   1759
4             40690           Dempster  12/03/2017       U    499
...             ...                ...         ...     ...    ...
1145581       41700  Washington/Wabash  12/27/2022       W   3991
1145582       41700  Washington/Wabash  12/28/2022       W   4100
1145583       41700  Washington/Wabash  12/29/2022       W   4741
1145584       41700  Washington/Wabash  12/30/2022       W   4664
1145585       41700  Washington/Wabash  12/31/2022       A   2774

[1145586 rows x 5 columns]>

filtrado de datos, revisar datos errores
si sale true significa que hay datos erroneos
si sale false significa que hay datos erroneos

In [37]:
data.isnull().any()

station_id     False
stationname    False
date           False
daytype        False
rides          False
dtype: bool

In [42]:
data.head(5)

   station_id       stationname        date daytype  rides
0       41280    Jefferson Park  12/22/2017       W   6104
1       41000  Cermak-Chinatown  12/18/2017       W   3636
2       40280      Central-Lake  12/02/2017       A   1270
3       40140   Dempster-Skokie  12/19/2017       W   1759
4       40690          Dempster  12/03/2017       U    499

revisar minimos y maximos *texto en cursiva*

In [ ]:
valor minimo

In [43]:
data['rides'].min()

0

calcular maximos

In [44]:
data['rides'].max()

36323

In [45]:
pandas

<bound method NDFrame.describe of          station_id        stationname        date daytype  rides
0             41280     Jefferson Park  12/22/2017       W   6104
1             41000   Cermak-Chinatown  12/18/2017       W   3636
2             40280       Central-Lake  12/02/2017       A   1270
3             40140    Dempster-Skokie  12/19/2017       W   1759
4             40690           Dempster  12/03/2017       U    499
...             ...                ...         ...     ...    ...
1145581       41700  Washington/Wabash  12/27/2022       W   3991
1145582       41700  Washington/Wabash  12/28/2022       W   4100
1145583       41700  Washington/Wabash  12/29/2022       W   4741
1145584       41700  Washington/Wabash  12/30/2022       W   4664
1145585       41700  Washington/Wabash  12/31/2022       A   2774

[1145586 rows x 5 columns]>

calcular promedio de columnas

In [46]:
data['rides'].mean()

3056.635315899461

agrupar